*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --second:rgb(52,201,36);
    --main:rgb(149, 115, 46);

}

ul{
    list-style: none;
}
/*
======================================================
    Partie NAV
======================================================
*/
nav{
    position: fixed;
    z-index: 99;
    top: 0;
    display: flex;
    justify-content:end;
    align-items: center;
    height: 7vh;
    width: 100vw;
    background-color: rgba(149, 115, 46,0.0);
    color: white;
}
nav ul {
    flex: 1;
    display: flex;
    gap:3%;
    align-items: center;
    justify-content: end;
    margin-right: 3%;
}

nav li {
    position: relative;
    transition: 1s;
    font-size: larger;
}
nav li:hover{
    color: var(--second);
    transition: 0.3s;
}
nav li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--second);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
nav li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#logo{
    position: absolute;
    left: 3%;
    font-family: "MonteCarlo", cursive;
    font-weight: 600;
    font-size: xx-large;
}

/*
======================================================
    Partie HEADER
======================================================
*/

header{
    height: 100vh;
    width: 100vw;
}

header figure{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header img {
    position:absolute;
    height: 100vh;
    width: 100vw;
}
#hoverHeaderBanner{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(149, 115, 46,0.60) ;
}

#headerContent{
    position: absolute;
    top: 30vh;
    right: 3vw;
    padding: 0 4%;
    box-shadow: 10px 0px 0px 0px var(--second);
}

header h1 {
    font-family: "Bona Nova SC", cursive;
    color: var(--second);
    font-size: 500%;
    font-weight: 200;
    margin-block-start: 0;

}
header p {
    font-family: "Bona Nova SC", cursive;
    color: white;
    font-size: 200%;
    text-align: end;
}

/*
======================================================
    Partie Presentation
======================================================
*/